.fa-clock-o{
	color: cadetblue;
}
.fa-users{
	color: lightslategray;
}
.fa-pencil-square-o{
	color: rgb(114, 184, 211);
}
.fa-pie-chart{
	color: rgba(0, 0, 128, 0.58);
}
.fa-life-ring{
	color: #C09553;
}